<div class="container category-container padding">
    <form action="/admin/createcategory/new" method="POST">
        <h2>Create a category</h2>
        <input class="form-control category-input" name="categoryName" placeholder="Category name">
        <br>
        <button type="submit" class="btn btn-primary">Create Category</button>
    </form>
</div>