<div class="container create-post-container padding">
    <form action="/admin/createpost/new" method="POST">
        <h2>Create post</h2>
        <div class="row padding">
            <div class="col-lg-6 col-sm-12">
                <h4>Title</h4>

                <input type="text" name="title" class="form-control" placeholder="Title" aria-label="Title"
                    aria-describedby="basic-addon1">
            </div>

            <div class="col-lg-6">
                <h4>Category</h4>
                <select class="form-select col-lg-6" name="category" aria-label="Default select example">
                    <option selected>Pick a category</option>
                    {{#each category}}
                    <option value="{{id}}">{{title}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="post-text-area">
            <h4>Description</h4>
            <textarea class="form-control" name="textarea" aria-label="textearea" placeholder="Description"></textarea>
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</div>