<div class="container padding admin">
    <h1 class="display-1">{{title}}</h1>
    <div class="text">
        <p><a href="/admin/users">- Show Users</a></p>
        <p><a href="/admin/createpost">- Create posts</a></p>
        <p><a href="/admin/createcategory">- Create category</a></p>
    </div>
</div>