{{#each err}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}

<div class="container padding register-container">
    <form action="/signup/new" method="POST">
        <h2>Register</h2>
        <div class="row">
            <div class="col-12">
                <input type="text" name="username" class="register-input" id="formGroupExampleInput"
                    placeholder="Username">
            </div>
            <div class="col-12">
                <input type="text" name="alias" class="register-input" id="formGroupExampleInput2" placeholder="Alias">
            </div>
            <div class="col-12">
                <input type="email" name="email" class="register-input" id="formGroupExampleInput2" placeholder="Email">
            </div>
            <div class="col-12">
                <input type="password" name="password" class="register-input" id="formGroupExampleInput2"
                    placeholder="Password">
            </div>
            <div class="col-12">
                <input type="date" name="birthdate" class="register-input" id="formGroupExampleInput2"
                    placeholder="Birth Date">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Criar usuario</button>
    </form>
</div>