@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

.login-container {
  width: 30%;
  margin-top: 15vh;
}

.login-input, .register-input {
  width: 100%;
  background-color: none;
  margin-top: 35px;
  padding-left: 30px;
  height: 50px;
  border-style: hidden;
  border-bottom: 2px solid rgb(129, 129, 129);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0 0 3px #474747;
}

.btn {
  width: 40%;
  display: table;
  margin: 40px auto;
}

.btn:hover {
  box-shadow: 0 0 5px #0d42d4;
}

.register-container { 
  width: 30%;
  margin-top: 5vh;
}

.padding {
  padding-top: 20px;
}

.admin a {
  text-decoration: none;
  color: #000000;
}

.admin .text {
  font-size: 1.3rem;
}

.create-post-container {
  width: 75%;
}

textarea {
  height: 25vh
}

.create-post-container h4 {
  margin-top: 20px;
}

.category-container {
  width: 50%;
  margin-top: 50px;
}

.category-input {
  width: 100%;
  background-color: none;
  margin-top: 35px;
  height: 50px;
}

.home-container, .post-container {
  width: 80%;
}

.card-shadow {
  box-shadow: 1px 1px 5px rgb(189, 189, 189);
  text-overflow: ellipsis;
}

.home-container a {
  text-decoration: none;
  color: black;
}

.post-container p {
  font-size: 1.3rem;
}

.post-container .card {
  padding: 25px;
}

@media (max-width: 1050px) {
  .login-container, .register-container {
    width: 50%;
    font-size: 1.1rem
  }

  .login-container h2 {
    font-size: 2rem;
  }

  .category-container {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .login-container, .register-container, .category-container {
    width: 90%;
  }
}

@media (max-width: 540px) {
  .login-container, .category-container {
    width: 90%;
    font-size: .9rem;
  }

  .login-container h2, .register-container h2 {
    font-size: 2rem;
  }

  .btn {
    width: 80%;
  }

  .register-container {
    width: 90%;
    font-size: .9rem;
    margin-top: 0;
  }

  .register-input {
    margin-top: 25px;
  }
  
  .create-post-container {
    padding-top: 0;
    width: 100%;
  }

  .create-post-container .btn {
    margin-top: 0;
  }

  .post-container {
    width: 100%;
  }

}